#quadmenu .quadmenu-navbar-toggle {
  margin-left: 15px;
  margin-right: 15px;
}
#quadmenu .quadmenu-alert + .quadmenu-alert {
  margin-top: 15px;
}
#quadmenu .quadmenu-navbar-header .quadmenu-navbar-brand {
  padding: 0 15px;
}
#quadmenu .quadmenu-navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu {
  padding: 30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu .quadmenu-bottom-text,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu .quadmenu-bottom-text {
  margin: 30px -30px -30px -30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu {
  margin: 0 -30px 0 -30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-cart.quadmenu-cart-empty > .quadmenu-dropdown-menu .widget_shopping_cart {
  padding-bottom: 30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu .quadmenu-empty-icon {
  padding-top: 30px;
  padding-bottom: 30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a {
  padding-left: 15px;
  padding-right: 15px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav li.quadmenu-dropdown form .quadmenu-item-content + .quadmenu-item-content {
  margin-top: 15px;
}
#quadmenu.quadmenu-is-horizontal li.quadmenu-item-type-column > div > ul {
  padding-top: 15px;
  padding-bottom: 15px;
}
#quadmenu:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu > ul > li.quadmenu-item > .quadmenu-item-content {
  padding-left: 30px;
  padding-right: 30px;
}
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-1,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-2,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-3,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-4,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-5,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-6,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-7,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-8,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-9,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-10,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-11,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-12,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-1,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-2,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-3,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-4,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-5,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-6,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-7,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-8,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-9,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-10,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-11,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm-12,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-sm,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-1,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-2,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-3,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-4,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-5,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-6,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-7,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-8,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-9,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-10,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-11,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md-12,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-md,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-1,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-2,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-3,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-4,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-5,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-6,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-7,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-8,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-9,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-10,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-11,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg-12,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-lg,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-1,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-2,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-3,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-4,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-5,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-6,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-7,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-8,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-9,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-10,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-11,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl-12,
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-row .col-xl {
  padding-right: 15px;
  padding-left: 15px;
}
#quadmenu .quadmenu-navbar-nav .quadmenu-row {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
  -webkit-flex-wrap: wrap!important;
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}
#quadmenu .quadmenu-navbar-nav .col-1,
#quadmenu .quadmenu-navbar-nav .col-2,
#quadmenu .quadmenu-navbar-nav .col-3,
#quadmenu .quadmenu-navbar-nav .col-4,
#quadmenu .quadmenu-navbar-nav .col-5,
#quadmenu .quadmenu-navbar-nav .col-6,
#quadmenu .quadmenu-navbar-nav .col-7,
#quadmenu .quadmenu-navbar-nav .col-8,
#quadmenu .quadmenu-navbar-nav .col-9,
#quadmenu .quadmenu-navbar-nav .col-10,
#quadmenu .quadmenu-navbar-nav .col-11,
#quadmenu .quadmenu-navbar-nav .col-12,
#quadmenu .quadmenu-navbar-nav .col,
#quadmenu .quadmenu-navbar-nav .col-sm-1,
#quadmenu .quadmenu-navbar-nav .col-sm-2,
#quadmenu .quadmenu-navbar-nav .col-sm-3,
#quadmenu .quadmenu-navbar-nav .col-sm-4,
#quadmenu .quadmenu-navbar-nav .col-sm-5,
#quadmenu .quadmenu-navbar-nav .col-sm-6,
#quadmenu .quadmenu-navbar-nav .col-sm-7,
#quadmenu .quadmenu-navbar-nav .col-sm-8,
#quadmenu .quadmenu-navbar-nav .col-sm-9,
#quadmenu .quadmenu-navbar-nav .col-sm-10,
#quadmenu .quadmenu-navbar-nav .col-sm-11,
#quadmenu .quadmenu-navbar-nav .col-sm-12,
#quadmenu .quadmenu-navbar-nav .col-sm,
#quadmenu .quadmenu-navbar-nav .col-md-1,
#quadmenu .quadmenu-navbar-nav .col-md-2,
#quadmenu .quadmenu-navbar-nav .col-md-3,
#quadmenu .quadmenu-navbar-nav .col-md-4,
#quadmenu .quadmenu-navbar-nav .col-md-5,
#quadmenu .quadmenu-navbar-nav .col-md-6,
#quadmenu .quadmenu-navbar-nav .col-md-7,
#quadmenu .quadmenu-navbar-nav .col-md-8,
#quadmenu .quadmenu-navbar-nav .col-md-9,
#quadmenu .quadmenu-navbar-nav .col-md-10,
#quadmenu .quadmenu-navbar-nav .col-md-11,
#quadmenu .quadmenu-navbar-nav .col-md-12,
#quadmenu .quadmenu-navbar-nav .col-md,
#quadmenu .quadmenu-navbar-nav .col-lg-1,
#quadmenu .quadmenu-navbar-nav .col-lg-2,
#quadmenu .quadmenu-navbar-nav .col-lg-3,
#quadmenu .quadmenu-navbar-nav .col-lg-4,
#quadmenu .quadmenu-navbar-nav .col-lg-5,
#quadmenu .quadmenu-navbar-nav .col-lg-6,
#quadmenu .quadmenu-navbar-nav .col-lg-7,
#quadmenu .quadmenu-navbar-nav .col-lg-8,
#quadmenu .quadmenu-navbar-nav .col-lg-9,
#quadmenu .quadmenu-navbar-nav .col-lg-10,
#quadmenu .quadmenu-navbar-nav .col-lg-11,
#quadmenu .quadmenu-navbar-nav .col-lg-12,
#quadmenu .quadmenu-navbar-nav .col-lg,
#quadmenu .quadmenu-navbar-nav .col-xl-1,
#quadmenu .quadmenu-navbar-nav .col-xl-2,
#quadmenu .quadmenu-navbar-nav .col-xl-3,
#quadmenu .quadmenu-navbar-nav .col-xl-4,
#quadmenu .quadmenu-navbar-nav .col-xl-5,
#quadmenu .quadmenu-navbar-nav .col-xl-6,
#quadmenu .quadmenu-navbar-nav .col-xl-7,
#quadmenu .quadmenu-navbar-nav .col-xl-8,
#quadmenu .quadmenu-navbar-nav .col-xl-9,
#quadmenu .quadmenu-navbar-nav .col-xl-10,
#quadmenu .quadmenu-navbar-nav .col-xl-11,
#quadmenu .quadmenu-navbar-nav .col-xl-12,
#quadmenu .quadmenu-navbar-nav .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
}
#quadmenu .quadmenu-navbar-nav .col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
#quadmenu .quadmenu-navbar-nav .col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}
#quadmenu .quadmenu-navbar-nav .col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
#quadmenu .quadmenu-navbar-nav .col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
#quadmenu .quadmenu-navbar-nav .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
#quadmenu .quadmenu-navbar-nav .col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
#quadmenu .quadmenu-navbar-nav .col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
#quadmenu .quadmenu-navbar-nav .col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
#quadmenu .quadmenu-navbar-nav .col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
#quadmenu .quadmenu-navbar-nav .col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
#quadmenu .quadmenu-navbar-nav .col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
#quadmenu .quadmenu-navbar-nav .col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
#quadmenu .quadmenu-navbar-nav .col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
#quadmenu .quadmenu-navbar-nav .col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#quadmenu .quadmenu-navbar-nav .offset-1 {
  margin-left: 8.333333%;
}
#quadmenu .quadmenu-navbar-nav .offset-2 {
  margin-left: 16.666667%;
}
#quadmenu .quadmenu-navbar-nav .offset-3 {
  margin-left: 25%;
}
#quadmenu .quadmenu-navbar-nav .offset-4 {
  margin-left: 33.333333%;
}
#quadmenu .quadmenu-navbar-nav .offset-5 {
  margin-left: 41.666667%;
}
#quadmenu .quadmenu-navbar-nav .offset-6 {
  margin-left: 50%;
}
#quadmenu .quadmenu-navbar-nav .offset-7 {
  margin-left: 58.333333%;
}
#quadmenu .quadmenu-navbar-nav .offset-8 {
  margin-left: 66.666667%;
}
#quadmenu .quadmenu-navbar-nav .offset-9 {
  margin-left: 75%;
}
#quadmenu .quadmenu-navbar-nav .offset-10 {
  margin-left: 83.333333%;
}
#quadmenu .quadmenu-navbar-nav .offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  #quadmenu .quadmenu-navbar-nav .col-sm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  #quadmenu .quadmenu-navbar-nav .col-md {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-0 {
    margin-left: 0%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-1 {
    margin-left: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-2 {
    margin-left: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-3 {
    margin-left: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-4 {
    margin-left: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-5 {
    margin-left: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-6 {
    margin-left: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-7 {
    margin-left: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-8 {
    margin-left: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-9 {
    margin-left: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-10 {
    margin-left: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  #quadmenu .quadmenu-navbar-nav .col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-0 {
    margin-left: 0%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-1 {
    margin-left: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-2 {
    margin-left: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-3 {
    margin-left: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-4 {
    margin-left: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-5 {
    margin-left: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-6 {
    margin-left: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-7 {
    margin-left: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-8 {
    margin-left: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-9 {
    margin-left: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-10 {
    margin-left: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  #quadmenu .quadmenu-navbar-nav .col-xl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-0 {
    margin-left: 0%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-1 {
    margin-left: 8.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-2 {
    margin-left: 16.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-3 {
    margin-left: 25%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-4 {
    margin-left: 33.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-5 {
    margin-left: 41.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-6 {
    margin-left: 50%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-7 {
    margin-left: 58.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-8 {
    margin-left: 66.666667%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-9 {
    margin-left: 75%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-10 {
    margin-left: 83.333333%;
  }
  #quadmenu .quadmenu-navbar-nav .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
#quadmenu .quadmenu-navbar-nav .hidden {
  display: none !important;
}
@media (max-width: 768px) {
  #quadmenu .quadmenu-navbar-nav .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #quadmenu .quadmenu-navbar-nav .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #quadmenu .quadmenu-navbar-nav .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  #quadmenu .quadmenu-navbar-nav .hidden-lg {
    display: none !important;
  }
}
.quadmenu-sticky-wrapper.quadmenu-default_theme {
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme {
  background-color: #543023;
  color: #cfa554;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 0;
  font-size: 11px;
  font-style: 0;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme.quadmenu-background-gradient {
  background: -webkit-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Fx 3.6-15*/
  background: linear-gradient(17deg, #543023 0, #000000 90%);
  /*Standard*/
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item > a,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item > form {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item > form.quadmenu-has-icon:not(.quadmenu-item-type-icon) > a > .quadmenu-item-content {
  padding-left: 42px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .quadmenu-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-price,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-rating,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-price ins,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-rating ins,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-price .woocommerce-Price-currencySymbol,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-rating .woocommerce-Price-currencySymbol,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-price .woocommerce-Price-amount amount,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content .quadmenu-product-rating .woocommerce-Price-amount amount {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-header .quadmenu-navbar-brand {
  margin-top: 0px;
  margin-bottom: 0px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal.js .quadmenu-navbar-header .quadmenu-navbar-brand {
  height: 40px;
  line-height: 40px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal.js .quadmenu-navbar-nav > li.quadmenu-item {
  height: 40px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal.quadmenu-divider-show .quadmenu-navbar-nav > li > a:after,
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal.quadmenu-divider-show .quadmenu-navbar-nav > li.quadmenu-item-type-search > form:after {
  margin-left: 0px;
  background-color: #cfa554;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-tabs > .quadmenu-dropdown-menu > ul > li > ul.quadmenu-tabs > li.quadmenu-item-type-tab {
  background-color: rgba(0, 0, 0, 0.05);
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-tabs > .quadmenu-dropdown-menu > ul > li > ul.quadmenu-tabs > li.quadmenu-item-type-tab:hover,
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav > li.quadmenu-item-type-tabs > .quadmenu-dropdown-menu > ul > li > ul.quadmenu-tabs > li.quadmenu-item-type-tab.open {
  background-color: rgba(0, 0, 0, 0.1);
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav > li > .quadmenu-dropdown-menu {
  margin-top: 0px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav li.quadmenu-item-type-button > a > .quadmenu-item-content {
  border-radius: 2px 2px 2px 2px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #000000;
  border-style: solid;
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:first-child,
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:first-child > a {
  border-radius: 0px 0px 0 0;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:last-child,
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:last-child > a {
  border-radius: 0 0 0px 0px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:only-child,
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu > ul > li:only-child > a {
  border-radius: 0px 0px 0px 0px;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:not(.quadmenu-item-type-tab):not(:last-child):not(:only-child) > a {
  border-color: #f4f4f4;
  border-style: solid;
  border-width: 0 0 0px 0;
}
#quadmenu.quadmenu-default_theme.quadmenu-is-horizontal .quadmenu-navbar-nav .quadmenu-dropdown-submenu:not(.quadmenu-item-type-tab) > .quadmenu-dropdown-menu {
  margin: 0px 0px 0 0px;
}
#quadmenu.quadmenu-default_theme.quadmenu-sticky-top {
  background-color: rgba(0, 0, 0, 0.95);
}
#quadmenu.quadmenu-default_theme.quadmenu-sticky-top.js .quadmenu-navbar-header .quadmenu-navbar-brand {
  height: 60px;
  line-height: 60px;
}
#quadmenu.quadmenu-default_theme.quadmenu-sticky-top.js .quadmenu-navbar-nav > li.quadmenu-item {
  height: 60px;
}
#quadmenu.quadmenu-default_theme.quadmenu-sticky-top .quadmenu-navbar-brand > img {
  height: 25px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-brand {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-brand:hover,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-brand:focus {
  color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-brand.img {
  background-color: transparent;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-brand > img {
  height: 25px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-toggle.collapsed .icon-bar {
  background-color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-toggle .icon-bar {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .ps-container > .ps-scrollbar-y-rail {
  background-color: #ffffff;
}
#quadmenu.quadmenu-default_theme .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#quadmenu.quadmenu-default_theme .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-dropdown-menu .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-dropdown-menu .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#quadmenu.quadmenu-default_theme .quadmenu-dropdown-menu .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme.quadmenu-hover-ripple .quadmenu-navbar-nav > li.quadmenu-item.quadmenu-has-link > a:before,
#quadmenu.quadmenu-default_theme.quadmenu-hover-slidebar .quadmenu-navbar-nav > li.quadmenu-item.quadmenu-has-link > a:before {
  background-color: #cfa554;
}
#quadmenu.quadmenu-default_theme.quadmenu-hover-ripple .quadmenu-navbar-nav > li.quadmenu-slidebar > .bar,
#quadmenu.quadmenu-default_theme.quadmenu-hover-slidebar .quadmenu-navbar-nav > li.quadmenu-slidebar > .bar {
  background-color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item.quadmenu-has-link > a:before,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item.quadmenu-has-link > span.bar {
  background-color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button) {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button) > a > .quadmenu-item-content {
  color: #ffffff;
  text-transform: uppercase;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button) > a > .quadmenu-item-content > .quadmenu-icon {
  color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button) > a > .quadmenu-item-content > .quadmenu-subtitle {
  color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button) > a > .quadmenu-item-content > .quadmenu-badge > .quadmenu-badge-bubble {
  background-color: #fb88dd;
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link {
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link:hover,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link.open {
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link:hover > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link.open > a > .quadmenu-item-content {
  color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link:hover > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link.open > a > .quadmenu-item-content > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link:hover > a > .quadmenu-item-content > .quadmenu-subtitle,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li:not(.quadmenu-item-type-button).quadmenu-has-link.open > a > .quadmenu-item-content > .quadmenu-subtitle {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button > a > .quadmenu-item-content {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button > a > .quadmenu-item-content > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:active > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:focus > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:hover > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button.open > a > .quadmenu-item-content {
  color: #383838;
  background-color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:active > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:focus > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button:hover > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-button.open > a > .quadmenu-item-content > .quadmenu-icon {
  color: #383838;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-search > form ::placeholder {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  text-transform: uppercase;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-search > form input {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  text-transform: uppercase;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-search > form i {
  color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu .quadmenu-bottom-text,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu .quadmenu-bottom-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  text-transform: uppercase;
  letter-spacing: inherit;
  background-color: #623829;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu li.woocommerce-mini-cart-item .blockUI.blockOverlay,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu li.woocommerce-mini-cart-item .blockUI.blockOverlay {
  background-color: #543023 !important;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart > a > .quadmenu-item-content > .quadmenu-cart-magic > .quadmenu-icon {
  color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart > a > .quadmenu-item-content > .quadmenu-cart-magic > .quadmenu-cart-qty {
  background-color: #fb88dd;
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart:hover > a > .quadmenu-item-content > .quadmenu-cart-magic > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart.open > a > .quadmenu-item-content > .quadmenu-cart-magic > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart.quadmenu-cart-empty > .quadmenu-dropdown-menu .widget_shopping_cart,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-cart.quadmenu-cart-empty > .quadmenu-dropdown-menu .widget_shopping_cart li {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  text-transform: uppercase;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a > .quadmenu-icon {
  color: #eeeeee;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a:hover > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a:focus > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-dots .owl-dot span {
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-prev,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-next {
  color: #ffffff;
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-prev:active,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-next:active,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-prev:focus,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-next:focus,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-prev:hover,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .owl-carousel .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #000000;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-login > a > .quadmenu-item-content > .quadmenu-avatar > img {
  height: 25px;
  width: 25px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-login a {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav > li.quadmenu-item-type-login a:hover {
  color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu {
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .quadmenu-title {
  color: #444444;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fb88dd;
  margin-bottom: 15px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu form ::placeholder {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu input,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu textarea,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu select,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: 0;
  text-transform: uppercase;
  letter-spacing: inherit;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .button {
  color: #ffffff;
  background-color: #fb88dd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .button:hover,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu .button.active {
  color: #ffffff;
  background-color: #000000;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a {
  border-color: #f4f4f4;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content {
  color: #ffffff;
  text-transform: uppercase;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content > .quadmenu-icon {
  color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content > .quadmenu-subtitle,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content > .quadmenu-description {
  color: #a0a0a0;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content > .quadmenu-badge > .quadmenu-badge-bubble {
  background-color: #fb88dd;
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:hover > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.open > a > .quadmenu-item-content {
  color: #cfa554;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:hover > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.open > a > .quadmenu-item-content > .quadmenu-icon {
  color: #a9a9a9;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:hover > a > .quadmenu-item-content > .quadmenu-description,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.open > a > .quadmenu-item-content > .quadmenu-description,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:hover > a > .quadmenu-item-content > .quadmenu-subtitle,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.open > a > .quadmenu-item-content > .quadmenu-subtitle {
  color: #cccccc;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.quadmenu-has-link:hover,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.quadmenu-has-link.open {
  background-color: #55301f;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button > a > .quadmenu-item-content {
  color: #ffffff;
  background-color: #fb88dd;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button > a > .quadmenu-item-content > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:active > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:focus > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:hover > a > .quadmenu-item-content,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button.open > a > .quadmenu-item-content {
  color: #ffffff;
  background-color: #000000;
}
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:active > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:focus > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button:hover > a > .quadmenu-item-content > .quadmenu-icon,
#quadmenu.quadmenu-default_theme .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item-type-button.open > a > .quadmenu-item-content > .quadmenu-icon {
  color: #ffffff;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-collapse.collapsing,
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-collapse.in {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu,
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu .quadmenu-bottom-text,
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu .quadmenu-bottom-text {
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: -30px;
  margin-right: -30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-login > .quadmenu-dropdown-menu > ul {
  width: auto;
  margin: 0 -30 0 -30;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-cart.quadmenu-cart-empty > .quadmenu-dropdown-menu .widget_shopping_cart {
  padding-bottom: 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-cart > .quadmenu-dropdown-menu .quadmenu-empty-icon {
  padding-top: 30px;
  padding-bottom: 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-social > .quadmenu-toggle-container > a {
  padding-left: 30;
  padding-right: 30;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item:not(.open):not(:last-child):not(:only-child) > a {
  border-color: transparent;
  border-style: none;
  border-width: 0 0 0px 0;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item .owl-carousel:not(:last-child):not(:only-child) {
  border-color: transparent;
  border-style: none;
  border-width: 0 0 0px 0;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav > li.quadmenu-item-type-search > form > .quadmenu-item-content {
  margin: 15px 30px 15px 30px;
  padding: 0;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-dropdown form .quadmenu-item-content + .quadmenu-item-content {
  margin-top: 15px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item .quadmenu-item-content,
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item .quadmenu-item-content > .quadmenu-caret {
  padding: 15px 30px 15px 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item .quadmenu-item-widget {
  padding: 15px 30px 15px 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item.open > a > .quadmenu-item-content > .quadmenu-caret {
  color: #ffffff;
  background-color: #543023;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item-type-button {
  padding-left: 30px;
  padding-right: 30px;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav .quadmenu-dropdown-menu {
  border-color: transparent;
  border-style: none;
  border-width: 0 0 0px 0;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item:not(:last-child):not(:only-child) > a {
  border-style: solid;
  border-width: 0 0 0px 0;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item .owl-carousel:not(:last-child):not(:only-child) {
  border-style: solid;
  border-width: 0 0 0px 0;
  border-color: #f4f4f4;
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal).quadmenu-background-gradient .navbar-offcanvas {
  background: -webkit-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(17deg, #543023 0, #000000 90%);
  /*Fx 3.6-15*/
  background: linear-gradient(17deg, #543023 0, #000000 90%);
  /*Standard*/
}
#quadmenu.quadmenu-default_theme:not(.quadmenu-is-horizontal) .navbar-offcanvas {
  background-color: #543023;
  width: 500px;
  max-width: 80%;
}
