				@font-face {
					font-family: 'quicksand';
					src: url('/wp-content/uploads/useanyfont/200327050708QuickSand.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/200327050708QuickSand.woff') format('woff');
				}

				.et_gf_quicksand{background:none !important;font-family:quicksand;text-indent:0 !important;font-size:25px;}

		