				@font-face {
					font-family: 'quicksand';
					src: url('/wp-content/uploads/useanyfont/200327050708QuickSand.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/200327050708QuickSand.woff') format('woff');
				}

				.quicksand{font-family: 'quicksand' !important;}

						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a, #menu-footer-menu li a, #menu-footer-menu li span, #menu-main-menu li a, #menu-main-menu li span{
					font-family: 'quicksand' !important;
				}
		